
#navbar{
    display: flex;
    list-style: none;
    font-size: 30px;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.sbi{
    padding-left: 40px;
    font-size: 24px;
    transition: transform 0.2s;
    height: 40px;
}
#login{
 position: absolute;
 right: 20px;
}
.sbi:hover {
    transform: scale(1.2);
}
